<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="/message.css">
    <script type="module" src="/message.js"></script>
</head>
<body>
    <div class="registration-container">
        <% if(locals.message_etu){ %>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <%= locals.message_etu %>
            </div>
        </div>        
        <% } %>
        <h2 class="form-title">Inscription</h2>
        <form method="POST">
            <div class="form-group">
                <label for="matricule">Matricule</label>
                <input type="text" id="id" name="id" required>
            </div>
            <div class="form-group">
                <label for="matricule">E-mail</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="submit-btn">S'inscrire</button>
        </form>
        <a href="/">Retour</a>
    </div>
</body>
</html>
